.card {
    border: 1px solidhsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-width: 3px;
    border-color: #fff!important;
    padding: 20px !important;
    margin: 10px;
    text-align: center;
    width: 350px;
    display: inline-block !important;
    background-color: #fff !important;
}

.card p {
    color: #000;

    font-weight: bold !important;
}

.date-time {
    color: #414c50 !important;
}

.gameMode {
    font-size: 19px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    margin-top: 15px;
}

.timed {
    background-color: #1ABC9C73 !important;
    border-radius: 7px !important;
}

.notes {
    background-color: #1e8dfc73 !important;
    border-radius: 7px !important;
}

.icons .timer-icon, .icons .notes-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 60px;
}

.icons .timer-icon {
    color: #1ABC9C;
}

.icons .notes-icon {
    color: #1e8dfc;
}

.accuracy {
    padding: 3px;
    border-radius: 5px;
}

.capitalized {
    text-transform: capitalize;
}