.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    background-color: #414c50 !important;
    border-color: #414c50 !important;
    color: #fff !important;
    font-size: 20px !important;
    font-weight: bold !important;
    box-shadow: 0 2px 15px #171b1d;
    border: #414c50 2px solid !important;
}

.toggle-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.button-open {
    border: #1e8dfc 2px solid !important;
    background-color: #575E64;
}

.row {
    width: 100%;
}