
.black-notes {
    position: absolute;
    left: -38px;
}

.black-note {
    background-color: #000 !important;
    border-color: #000 !important;
    box-shadow: 0px 3px 10px #fff;
    width: 43px;
    height: 120px;
    margin: 0 2px;
}

.black-note:hover {
    background-color: #303030 !important;
    border-color: #303030 !important;
}

.black-note input {
    display: none;
}

.white-note {
    background-color: #fff !important;
    border-color: #fff !important;
    box-shadow: 0px 3px 10px #000;
    width: 44px;
    height: 200px;
    margin: 0 2px;
}

.white-note:hover {
    background-color: #d7d7d7 !important;
    border-color: #d7d7d7 !important;
}

.white-note input {
    display: none;
}

.third {
    margin-left: 53px !important;
}

.sixth {
    margin-left: 53px !important;
}

.eighth {
    margin-left: 53px !important;
}

.hand {
    color: #fff;
    margin-top: 30%;
    font-size: 60px;
}