.card {
    border: 1px solidhsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 350px;
    display: inline-block !important;
}

.card p {
    color: #000 !important;
}

.history-title {
    color: #fff;
    font-weight: bold;
}

.list {
    color: #fff;
}