.report-content {
    text-align: center;
    padding: 20px;
}

.square {
    background-color: #fff;
    border-radius: 7px;
}

.report-content p {
    color: #fff;
    text-align: center;
    width: 300px;
    margin: 10px auto;
}

.report-content h2 {
    font-size: 70px;
}

.report-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.report-icons .notes-icon,
.report-icons .timer-icon{
    font-size: 84px;
}

.correct {
    color: #04AE37;
}

.incorrect {
    color: #D13447;
}

.report-icons .timer-icon,
.timed-text {
    color: #1ABC9C;
}

.report-icons .notes-icon,
.notes-text {
    color: #1e8dfc;
}

.lines {
    border-radius: 40px;
    left: 0;
    width: 1256px;
    position: absolute;
    z-index: 1;
}

.rotate {
    transform: rotate(180deg);
}

.good {
    filter: invert(35%) sepia(79%) saturate(1914%) hue-rotate(119deg) brightness(101%) contrast(97%);
}

.ok {
    filter: invert(83%) sepia(94%) saturate(368%) hue-rotate(360deg) brightness(90%) contrast(97%);
}

.bad {
    filter: invert(28%) sepia(28%) saturate(5945%) hue-rotate(334deg) brightness(87%) contrast(87%);
}