:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none !important;
}

body {
  margin: 0;
  place-items: center;
  background-color: #192228 !important;
  min-width: 320px;
  min-height: 100vh;
  box-shadow: inset 0 0 75px #011212;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #fff !important;
}

button {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #036666;
  }
}

.btn-primary {
  background-color: #1e8dfc !important;
  border-color: #1e8dfc !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: bold !important;
  box-shadow: 0 5px 25px #010c17 !important;
  border-width: 3px !important;
}

.btn-primary:hover {
  background-color: transparent !important;
  box-shadow: 0 0 5px #010c17;
}

.menu-option {
  font-size: 28px !important;
}

.btn-primary2 {
  background-color: #D13447 !important;
  border-color: #D13447 !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: bold !important;
  box-shadow: 0 5px 25px #450d14 !important;
  border-width: 3px !important;
}

.btn-primary2:hover {
  background-color: transparent !important;
  box-shadow: 0 0 5px #450d14;
}

.btn-secondary {
  background-color: #414c50 !important;
  border-color: #414c50 !important;
  color: #fff !important;
  font-size: 20px !important;
  font-weight: bold !important;
  box-shadow: 0 2px 15px #171b1d;
}

.btn-secondary:hover {
  background-color: transparent !important;
  border-color: #414c50 !important;
  box-shadow: 0 0 5px #171b1d91;
}